In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import seaborn as sn
import folium
import math
import json
from branca.colormap import LinearColormap
from branca.element import MacroElement
from jinja2 import Template

In [54]:
intercountry_df = pd.read_csv('../Data_sinan/intercountry_tone_count_table_with_EVENTCODE',\
                              dtype={'EventRootCode': np.str, 'EventCode': np.str} \
                             )
country_info_df = pd.read_csv('../Data_sinan/countryinfo.csv')
world_borders = json.load(open('../Data/world_borders.topojson.json'))
fips_codes = pd.read_csv('../Data/fipscountries.csv')
fips_codes = fips_codes[['fips','country']]

In [55]:
population = country_info_df[['fips', 'population']]

In [56]:
intercountry_df = intercountry_df[pd.notnull(intercountry_df['LocEvent'])]
intercountry_df = (intercountry_df[(intercountry_df["EventRootCode"]!='--') & (intercountry_df["EventCode"]!='--')])

In [57]:
intercountry_df = fips_codes.merge(intercountry_df, left_on='fips', right_on='LocEvent', how='inner').drop('fips', axis=1)
intercountry_df = intercountry_df.rename(columns={"country":"EventCountry"})

intercountry_df = fips_codes.merge(intercountry_df, left_on='fips', right_on='LocMention', how='inner').drop('fips', axis=1)
intercountry_df = intercountry_df.rename(columns={"country":"MentionCountry"})


intercountry_df.loc[intercountry_df['MentionCountry']=='United States', 'MentionCountry'] = 'United States of America'
intercountry_df.loc[intercountry_df['EventCountry']=='United States', 'EventCountry'] = 'United States of America'

intercountry_df.loc[intercountry_df['MentionCountry']=='Serbia', 'MentionCountry'] = 'Republic of Serbia'
intercountry_df.loc[intercountry_df['EventCountry']=='Serbia', 'EventCountry'] = 'Republic of Serbia'

In [58]:
intercountry_df.head()

,MentionCountry,EventCountry,EventRootCode,EventCode,LocMention,LocEvent,AverageTone,NumberOfInterMentions
0,Andorra,Andorra,03,0332,AN,AN,-1.124744,1
1,Andorra,Andorra,02,0241,AN,AN,-1.123225,7
2,Andorra,Andorra,11,113,AN,AN,-6.316239,3
3,Andorra,Andorra,05,056,AN,AN,-0.732468,13
4,Andorra,Andorra,11,1123,AN,AN,-11.238896,2

In [59]:
intercountry_nb_mentions_df = intercountry_df[['MentionCountry', 'EventCountry', 'EventRootCode', 'AverageTone', 'NumberOfInterMentions']]
countries_protests = intercountry_nb_mentions_df[intercountry_nb_mentions_df['EventRootCode'] == '14']
countries_protests.head()

,MentionCountry,EventCountry,EventRootCode,AverageTone,NumberOfInterMentions
10,Andorra,Andorra,14,-6.250000,1
11,Andorra,Andorra,14,-3.658537,1
32,Andorra,Andorra,14,0.089099,25
52,Andorra,Andorra,14,-0.485852,8
106,Andorra,Andorra,14,-1.053494,79

In [60]:
protest_news_numbers = countries_protests.groupby(['MentionCountry', 'EventCountry'], as_index=False)['NumberOfInterMentions'].sum()
protest_news_numbers.head()

  MentionCountry EventCountry  NumberOfInterMentions
0    Afghanistan  Afghanistan                   4843
1    Afghanistan    Argentina                      2
2    Afghanistan      Armenia                     22
3    Afghanistan    Australia                     26
4    Afghanistan      Austria                     10

In [62]:
protest_news_average = countries_protests.groupby(['MentionCountry', 'EventCountry'], as_index=False)['AverageTone'].mean()
protest_news_average.head()

  MentionCountry EventCountry  AverageTone
0    Afghanistan  Afghanistan    -5.580697
1    Afghanistan    Argentina    -4.692109
2    Afghanistan      Armenia    -5.671705
3    Afghanistan    Australia    -3.456377
4    Afghanistan      Austria    -8.799038

In [63]:
df_merged = df1.merge(df2, how='outer', left_index=True, right_index=True)protest_news_numbers.join(protest_news_average, how='inner')

ValueError: columns overlap but no suffix specified: Index(['MentionCountry', 'EventCountry'], dtype='object')